.box{
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows:30px 100px; 
}

.item-1{
    grid-column-start: 1;
    grid-column-end:3 ;
    grid-row:1/2;
}
.item-2{
clip-path: polygon(0 0, 100% 0, 99% 15%,98% 16%,97% 18%,96% 20%,  95% 20%,93% 21%, 92% 22%,91% 23%, 90% 24%,89% 25%, 87% 25.5%,86% 26%, 85% 27%,  84% 30%, 83% 31%,82% 34% ,81% 36%,80% 39%, 79% 40%, 78% 43%,76% 48%, 75% 50%, 72% 55%, 69% 60%, 66% 65%,65% 68%, 63% 70%, 60% 74%,59% 77%,58% 78%, 57% 80%, 54% 83%, 51% 86%, 49% 89%, 46% 91%, 43% 93%, 40% 94%, 37% 95%, 34% 96%, 31% 95%, 28% 94%, 25% 93%, 22% 91%, 19% 89%, 17% 88%, 15% 87%, 13% 85%, 11% 82%, 9% 79%, 7% 75%, 5% 70%, 4% 67%, 3% 64%, 2% 58%, 1% 52%, 0.5% 46%, 0 40%);
}
.rounf{
    clip-path: path('M 0 60 Q 60 0 160 1 L 10000 0 L 10000 100 L 0 100 Z');
}
.clipi{
 
 clip-path: polygon(100% 0%, 0% 0% , 0.00% 35.06%, 1.00% 34.64%, 
 2.00% 34.09%, 3.00% 33.42%, 4.00% 32.64%, 5.00% 31.75%,
  6.00% 30.76%, 7.00% 29.69%, 8.00% 28.53%, 9.00% 27.31%,
   10.00% 26.02%, 11.00% 24.69%, 12.00% 23.33%, 13.00% 21.93%,
 14.00% 20.53%, 15.00% 19.13%, 16.00% 17.75%, 17.00% 16.39%, 
 18.00% 15.07%, 19.00% 13.79%, 20.00% 12.58%, 21.00% 11.45%,
  22.00% 10.39%, 23.00% 9.42%, 24.00% 8.56%, 25.00% 7.80%,
   26.00% 7.16%, 27.00% 6.64%, 28.00% 6.24%, 29.00% 5.97%, 
   30.00% 5.83%, 31.00% 5.82%, 32.00% 5.95%, 33.00% 6.20%,
    34.00% 6.58%, 35.00% 7.09%, 36.00% 7.72%, 37.00% 8.47%, 
    38.00% 9.32%, 39.00% 10.28%, 40.00% 11.32%, 41.00% 12.45%,
     42.00% 13.66%, 43.00% 14.92%, 44.00% 16.24%, 45.00% 17.60%, 46.00% 18.98%,
      47.00% 20.38%, 48.00% 21.78%, 49.00% 23.17%, 50.00% 24.54%, 51.00% 25.88%,
       52.00% 27.17%, 53.00% 28.40%, 54.00% .52%, 55.00% .52%, 56.00% .52%,
        57.00% .52%, 58.00% .52%, 59.00% .52%, 60.00% .52%, 61.00% 35.52%,
         62.00% 35.52%, 63.00% 35.52%, 64.00% 35.52%, 65.00% 35.49%, 66.00% 35.28%,
          67.00% 34.94%, 68.00% 34.47%, 69.00% 33.88%, 70.00% 33.17%, 71.00% 32.35%,
           72.00% 31.43%, 73.00% 30.41%, 74.00% 29.31%, 75.00% 28.13%, 76.00% 26.88%, 77.00% 25.58%,
            78.00% 24.24%, 79.00% 22.86%, 80.00% 21.47%, 81.00% 20.07%, 82.00% 18.67%, 83.00% 17.29%, 84.00% 15.94%, 85.00% 14.64%, 86.00% 13.38%, 87.00% 12.20%, 88.00% 11.08%, 89.00% 10.06%, 90.00% 9.12%,
      91.00% 8.29%, 92.00% 7.57%, 93.00% 6.97%, 94.00% 6.7%,
      95.00% 6.43%, 96.00% 5.91%, 97.00% 5.81%, 98.00% 5.85%, 99.00% 6.02%, 100.00% 6.31%);}
