.box{
    display: grid;
    grid-template-columns: 450px 1fr;
    grid-template-rows:30px 120px; 
}

.item-1{
    grid-column-start: 1;
    grid-column-end:3 ;
    grid-row:1/2;
}
.item-2{
clip-path: polygon(0 0, 100% 0, 99% 15%,98% 16%,97% 18%,96% 20%,  95% 20%,93% 21%, 92% 22%,91% 23%, 90% 24%,89% 25%, 87% 25.5%,86% 26%, 85% 27%,  84% 30%, 83% 31%,82% 34% ,81% 36%,80% 39%, 79% 40%, 78% 43%,76% 48%, 75% 50%, 72% 55%, 69% 60%, 66% 65%,65% 68%, 63% 70%, 60% 74%,59% 77%,58% 78%, 57% 80%, 54% 83%, 51% 86%, 49% 89%, 46% 91%, 43% 93%, 40% 94%, 37% 95%, 34% 96%, 31% 95%, 28% 94%, 25% 93%, 22% 91%, 19% 89%, 17% 88%, 15% 87%, 13% 85%, 11% 82%, 9% 79%, 7% 75%, 5% 70%, 4% 67%, 3% 64%, 2% 58%, 1% 52%, 0.5% 46%, 0 40%);
}
.rounf{
    clip-path: path('M 0 50 Q 50 0 100 1 L 10000 0 L 10000 100 L 0 100 Z');
}
.clipi{
   clip-path: polygon(75% 14%, 89% 6%, 100% 1%, 100% 100%, 75% 100%, 24% 100%, 33% 73%, 42% 55%, 51% 41%, 64% 24%)
}
